<!DOCTYPE html>
<html>

<head>
    <meta charset = "UTF-8">
    <style>
        h {
            background-color: coral;
            padding: 1%;
            min-width: 80%;
            width: 500px;
            margin-left: 5%;
	        margin-right: 5%;

        }
        p {
            padding: 1%;
	        margin-left: 5%;
	        margin-right: 5%;
	        width: 800px;
	        background-color: rgb(7, 176, 255);
            font-family:Georgia, 'Times New Roman', Times, serif;
            color: white;

        }

    </style>
</head> 

<body> 
    <br><br>
    <h>Agregated Value:</h>
    <br><br>
    <p>Equation: 2*Kurs Euro + 1*Urodzenia + 3*Wskaznik czystosci powietrza + 0.15*wolnych miejsc na parkingu + 0.07*podatek</p>
    <p>Value: {{content}} </p>
</body>



</html>